<footer class="global-footer">
  <div class="collapse toggle-area" id="collapseExample">
    <div class="container mt50 mb50">
      <div class="row">
        <div class="col-sm-4">

          <ul class="social">
            <li>
              <a href="javascript:void(0);" class="fa fa-facebook"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-twitter"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-instagram"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
            </li>
          </ul>

        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Company</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">Contactos</a></li>
                <li><a href="http://conociendohtmlbasico.blogspot.com/">Acerca de</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Need Help</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">Help &amp; FAQ</a></li>
                <li><a href="javascript:void(0);">Track Order</a></li>
                <li><a href="https://www.google.com/maps/place/Universidad+Tecnologica+del+Norte+de+Guanajuato+(+UTNG+)/@21.1717986,-100.938611,15z/data=!4m5!3m4!1s0x0:0xcf1c80c255f1993e!8m2!3d21.1673668!4d-100.9309459">Store Locator</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>More Info</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="http://conociendohtmlbasico.blogspot.com/">Mi Blog</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
                <li><a href="javascript:void(0);">Politicas de privacidad</a></li>
                <li><a href="javascript:void(0);">Terms of Use</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Get in Touch</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">08800549380</a></li>
                <li><a href="javascript:void(0);">sant.mar.1997@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2018 Jasmin Santana | ALL RIGHTS RESERVED.
  </div>
  <div class="toggle-button"  data-toggle="collapse" href="#collapseExample">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</footer>
